@import settings
#responsive-menu > div.top-bar-right > ul
  max-width: 100%
.top-bar
  background-color: $orange !important
body
  background: #eaeaea !important
body > div.top-bar
  padding: 20px 10px
body > div.top-bar > div > ul > li > a
  color: white
body > div.top-bar > div > ul
  background-color: $orange !important
.logo
  //max-width: 200px
  max-height: 70px
.title-bar
  background: $orange
#responsive-menu > div > ul > li
  padding: 0
.first, .second, .third, .fourth, .fifth, .sixth, .seventh
  h1
    line-height: 1
    text-transform: uppercase
.orange
  color: $orange
  font-size: 4.2rem
.grey
  color: $dark-gray
  font-size: 4rem
  font-family: geomanistlight
body > div.first > div.row.text-center > a > img
  padding-bottom: 50px
.phantom
  padding: 50px
.phantom-small
  padding: 25px
p
  font-family: $allerlight
ul
  list-style-position: outside
.second
  background-color: white
.third
  background-color: $light-gray
  ul li
    color: #3c3c3c
    list-style: none
    line-height: 2
    font-family: $allerlight
  ul li::before
    color: $orange
    content: "\2022"
    font-size: 1em
    padding-right: 1.1225em
    position: relative
    top: 0em
body > div.second > div.fourth > div.row.expanded.portfolio
  padding-left: 60px
  padding-right: 60px
  img
    float: left !important
    width: 300px
    border: solid white 1px
body > div.second > div.fourth > div.row.text-center > div.arrow-text
  font-family: $allerlight
  color: $orange
  text-transform: uppercase
.bio
  background-color: white
  min-height: 310px
  padding: 10px
  margin-bottom: 5px
  span.title, span.name
    text-transform: uppercase
    display: block
    padding: 0px 0px
  span.title
    color: $orange
  span.name
    color: $light-gray
    text-transform: capitalize
    padding-top: 10px
    display: block
  p
    font-size: 0.8rem
    font-family: $allerlight
    padding-top: 15px
.fifth
  img
    width: 100%
    img
      border: solid transparent 1px
.sixth
  background-color: white
.brand-logo
  //padding: 15px 30px
  //min-width: 200px
  //max-width: 200px
  //margin: 0px 40px
  -webkit-filter: grayscale(100%)
  filter: grayscale(100%)
  width: 200px
  opacity: 0.7
  filter: alpha(opacity=50)
table
  border: none
tbody tr:nth-child(even)
  background-color: #fefefe
.table-center
  margin-left: auto
  margin-right: auto
  text-align: center
  .columns
    float: none !important
body > div.sixth > div.row.logos-row > div > table > tbody > img
  float: none
.portfolio-thumbnail
  border-style: solid
  border-width: 1px
  border-color: white
.logos-row
  text-align: center
body > div.seventh > div > iframe
  width: 100%
  height: 500px
body > div.eighth > div > div > span.heading
  text-transform: uppercase
  font-family: $allerbold
  display: block
  padding-bottom: 10px
.contact-footer
  padding: 50px
  color: #5d6872
  span.heading
    font-size: 0.9rem
    font-family: $allerlight
  span.body
    font-family: $allerbold
    color: $orange !important
.ninth
  background-color: white
  font-family: $allerlight
  padding: 50px
body > div.eighth > div.row.small-expanded.text-center
  color: #3c3c3c !important
@media screen and (max-width: 911px)
  .orange
    font-size: 2.3rem
  .grey
    font-size: 2.3rem
  .phantom
    padding: 25px
  .phantom-small
    padding: 12px
  .brand-logo
    padding: 7px
    max-width: 220px
    margin: 0px 20px
body > div.seventh > form > div.row.expanded > div
  text-align: center
@media screen and (max-width: 640px)
  .orange
    font-size: 1.5rem
  .grey
    font-size: 1.5rem
  span.heading
    font-size: 0.6rem
    padding-bottom: 5px !important
  span.body
    font-size: 0.8rem
    padding-bottom: 5px
  .contact-footer
    padding: 15px
@media screen and (max-width: 321px)
  .orange
    font-size: 1rem
  .grey
    font-size: 1rem
  p
    font-size: 0.5rem
@media screen and (min-width: 280px)
  .bio
    min-height: 0px
@media screen and (min-width: 640px)
  .bio
    min-height: 350px
@media screen and (min-width: 1440px)
  .bio
    min-height: 300px


//.almost
//  padding-left: 100px
//  padding-right: 100px
//
//@media screen and (max-width: 640px)
//  .almost
//    padding-left: 0px
//    padding-right: 0px