@import settings
.top-bar
  background-color: $orange !important
body
  background: #eaeaea !important
body > div.top-bar
  padding: 20px 10px
body > div.top-bar > div > ul > li > a
  color: white
body > div.top-bar > div > ul
  background-color: $orange !important
.logo
  //max-width: 200px
  max-height: 70px
.first, .second, .third
  h1
    line-height: 1
    text-transform: uppercase
.orange
  color: $orange
  font-size: 4rem
.grey
  color: $dark-gray
  font-size: 4rem
body > div.first > div.row.text-center > a > img
  padding-bottom: 50px
.phantom
  padding: 50px
.phantom-small
  padding: 25px
p
  font-family: $allerbold
.second
  background-color: white
.third
  background-color: $light-gray
  ul li
    color: #3c3c3c
    list-style: none
    line-height: 2
  ul li::before
    color: $orange
    content: "\2022"
    font-size: 1em
    padding-right: 1.1225em
    position: relative
    top: 0em
